html,
body {
  padding: 10px;
  margin: 0;
  background-color: #DEF2F1;
  color: #17252A;
  text-align: center;
}

a {
  color: inherit;
  text-decoration: none;
}

h1.title {
  font-family: 'Send Flowers', cursive;
}

p {
  font-size: large;
  padding-top: 10px;
}

* {
  box-sizing: border-box;
}

.img-align {
  display: flex;
  justify-content: center;
}

img {
  margin-top: 35px;
  margin-bottom: 35px;
  height: 450px;
  width: auto;
  border-radius: 6px;
  box-shadow: 7px 7px 4px;
  color: #2B7A78;
  transform: scale(1.0) rotate(1deg);
  transition-duration: .5s;
}

img:hover {
  transform: scale(0.98) rotate(-1deg);
  transition-duration: .5s;
}

.excepthere {
  text-align: left;
}